__pycache__
pipeline/preprocessing/pdfs/*.pdf
pipeline/preprocessing/xml2text/*.xml
pipeline/model_testing/models/flair_fasttext/*
pipeline/model_testing/models/google_USE/*
pipeline/model_testing/models/datasets/*
pipeline/analysis/models/flair_fasttext/*
pipeline/analysis/models/google_USE/*

