absl-py==0.7.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.7.1
blinker==1.4
boto==2.49.0
boto3==1.9.145
botocore==1.12.145
bpemb==0.2.12
Brlapi==0.6.7
certifi==2019.3.9
chardet==3.0.4
command-not-found==0.3
cryptography==2.3
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.0
defer==1.0.6
Deprecated==1.2.5
distro==1.3.0
distro-info==0.18
docutils==0.14
entrypoints==0.2.3.post3
flair==0.4.1
future==0.17.1
gast==0.2.2
gensim==3.7.3
grpcio==1.20.1
h5py==2.9.0
httplib2==0.11.3
hyperopt==0.1.2
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==15.1.0
keyrings.alt==3.1
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.14.0
lazr.uri==1.0.3
louis==3.6.0
macaroonbakery==1.1.4
Mako==1.0.7
Markdown==3.1
MarkupSafe==1.0
matplotlib==3.0.3
mock==3.0.5
mpld3==0.3
netifaces==0.10.4
networkx==2.3
nltk==3.4.1
numpy==1.16.3
oauthlib==2.0.6
olefile==0.46
pexpect==4.6.0
Pillow==5.2.0
protobuf==3.7.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
PyGObject==3.30.1
PyJWT==1.6.4
pymacaroons==0.13.0
pymongo==3.8.0
PyNaCl==1.2.1
pyparsing==2.4.0
pyRFC3339==1.1
python-apt==1.7.0
python-dateutil==2.8.0
python-debian==0.1.33
pytorch-pretrained-bert==0.6.2
pytz==2018.5
pyxdg==0.25
PyYAML==3.12
regex==2018.1.10
reportlab==3.5.6
requests==2.21.0
requests-unixsocket==0.1.5
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
SecretStorage==2.3.1
segtok==1.5.7
sentencepiece==0.1.82
simplejson==3.15.0
six==1.12.0
sklearn==0.0
smart-open==1.8.3
sqlitedict==1.6.0
system-service==0.3
systemd-python==234
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
termcolor==1.1.0
torch==1.1.0
tqdm==4.31.1
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.24.3
usb-creator==0.3.3
virtualenv==15.1.0
wadllib==1.3.3
Werkzeug==0.15.2
wrapt==1.11.1
xkit==0.0.0
