div#background {
    background-size: cover;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#popup-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1000;
    display: flex;
}

div#popup-box div#popup {
    color: white;
    border-radius: 2em;
    margin: auto;
    font-style: italic;
    font-size: 2em;
}

div#popup-box div#popup p {
    text-align: center;
}

div#introduction-box {
    color: white;
    width: fit-content;
    text-align: center;
    width: 70%;
}

div#introduction-box h1 {
    font-size: 6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    transition:1s;
}

div#introduction-box h1:hover {
    cursor: pointer;
    font-size: 7em;
}

div#introduction-box p {
    width: 80%;
    font-size: 0.95em;
    font-style: italic;
    margin: 0 auto 2em auto;
}

div.input-group.mb-3 {
    width: 60%;
    margin: auto;
}
div#output-box {
    width: 80%;
}

div#output-box textarea {
    resize: none;
    background-color: rgba(200,200,200,0.02);
    border-radius: 1em;
    border: none;
    color: white;
    font-size: 1.2em;
}

li.list-group-item {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

ul.list-group li:hover {
    cursor: pointer;
}

li#positiveTag {
    background-color: rgb(3, 125, 3) !important;
}

li#negativeTag {
    background-color: rgb(125, 0, 0) !important;
}
@media only screen and (max-width: 600px) {
    div#background {
        width: fit-content;
    }
    div#introduction-box {
      width: fit-content;
    }
}
