div#background {
    background-image: url('/static/images/background.png');
    background-size: cover;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#introduction-box {
    color: white;
    width: fit-content;
    text-align: center;
}

div#introduction-box h1 {
    font-size: 6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

div#output-box {
    width: 60%;
}

div#output-box textarea {
    resize: none;
    background-color: black;
    color: white;
}