Click==7.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.7.1
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mysql-connector==2.2.9
nltk==3.4
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
Werkzeug==0.15.1
